@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello/css/fontello.css');

/* 초기화 */
*, *::before, *::after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

/* 숨김 콘텐츠 */
.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}

/* clearfix - float 이슈를 해결하기 위한 선언 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

html{
  font-size: 10px;
  margin: 0;
}

.header, .visual-top, .visual-bottom, .main-contents{
    width: 100vw;
    margin: 0;
}

.insta-id, .footer{
    width: 100vw;
    margin: 0 auto;
}

body{
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 500;
  /* overflow-x:hidden; */
}

.header{
    position:fixed;
    top:0;
    left:0;
    margin : 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px 25px 55px;
    font-size: 13px;
    background: rgba(#fff, #fff, #fff, 0);
}

.header h1{
    margin: 0;
    min-width: 20%;
}

.navigation{
    margin: 0;
    width: 80%;
    min-width: 80%;
}

.navigation-menu{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sub-menu > a{
    padding: 25px 30px;
    transition: color .2s 0s;
}

.sub-menu a:hover{
    color: gray;
}

.navigation-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    /* display: none; */
}

/* 드롭다운 */
.dropdown-menu3 > a::before{
    content: '\e805';
    font-family: "fontello";
    padding: 5px;
}

.dropdown-menu3 > a::after, .dropdown-menu2 > a::after, .dropdown-menu1 > a::after{
    content: '\f107';
    font-family: "fontello";
    padding: 5px;
}

.dropdown-menu1, .dropdown-menu2, .dropdown-menu3{
    position: relative;
}

.dropdown-menu1:hover ul{
    transition: height .2s linear;
    height: 130px;
    text-align: center;
    line-height: 2.5rem;
    position: absolute;
    margin-top: -5px;
    padding : 15px 21px;
    top: 40px;
    opacity: 0.8;
    color: white;
    background: black;
}

.dropdown-menu2:hover ul{
    transition: height .2s linear;
    position: absolute;
    height: 130px;
    width: 160px;
    text-align: center;
    line-height: 2.5rem;
    margin-top: -5px;
    padding : 15px 0;
    top: 40px;
    opacity: 0.8;
    color: white;
    background: black;
}

.dropdown-menu3:hover ul{
    transition: height .2s linear;
    height: 150px;
    text-align: center;
    line-height: 2.5rem;
    position: absolute;
    margin-top: -5px;
    padding : 15px 15px;
    top: 40px;
    opacity: 0.8;
    color: white;
    background: black ;
}

.dropdown-menu1 ul li a, .dropdown-menu3 ul li a{
    padding: 0 30px;
    transition: color .2s 0s;
}

.dropdown-menu2 ul li a{
    transition: color .2s 0s;
}

.dropdown-menu1 ul li a:hover, .dropdown-menu2 ul li a:hover, .dropdown-menu3 ul li a:hover{
   color: pink;
}

.basket a::before{
    margin: 0;
    padding-left: 25px;
    content: '\f290';
    font-family: "fontello";
}

.basket a{
    width: 10px;
    height: 10px;
    margin-top: -8px;
    padding: 5px 20px 5px 0;    
}

.scroll{
    /* top bottom toggle */
    display: none;
}

.slides{
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides *{
    user-select: none;
}

.slides input{
    display: none; 
}

.slide-container{ 
    display: block; 
}

.slide-image{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img{
    width: 100vw;
    margin: 0;
    /* min-width: 100%; */
    height: 100%;
}

.carousel-controls{
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    right: 0;
    z-index: 999;
    color: #fff;
}

.carousel-controls label{
    display: none;
    position: absolute;
    padding: 0;
    transition: padding .2s;
    cursor: pointer;
}

.carousel-controls .prev-slide{
    text-align: left;
    padding: 0 20px;
    margin-left: 100px;
    left: 0;
}

.carousel-controls .prev-slide:hover{
    padding: 0 30px;
}

.carousel-controls .next-slide{
    text-align: right;
    padding : 0 20px;
    margin-right : 100px;
    right: 0;
}

.carousel-controls .next-slide:hover{
    padding: 0 30px;
}

.carousel-dot-group{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 999;
    text-align: center;
}

.carousel-dot-group .carousel-dot{
    display: none;
}

input:checked ~ .carousel-dot-group .carousel-dot{
    display: inline-block;
    width: 20px;
    height: 5px;
    background-color: #fff;
    opacity: 0.5;
    margin-right: 1px;
}

.slide-container > input:checked + .slide-image{
    opacity: 1; /*투명해제*/
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

.slide-container > input:checked + .carousel-controls label{
    display: block; 
}

#img-1:checked ~ .carousel-dot-group .img-dot-1,
#img-2:checked ~ .carousel-dot-group .img-dot-2,
#img-3:checked ~ .carousel-dot-group .img-dot-3,
#img-4:checked ~ .carousel-dot-group .img-dot-4,
#img-5:checked ~ .carousel-dot-group .img-dot-5,
#img-6:checked ~ .carousel-dot-group .img-dot-6,
#img-7:checked ~ .carousel-dot-group .img-dot-7{
    width: 30px;
	background-color: black;
}

.slide-container > input:checked ~ .carousel-controls label{ 
    display: block;     
}

.visual-bottom{
    /* background: url(./images/bg_flower.png) no-repeat 50% 0 fixed,
    #ccc linear-gradient(#ccc, #eee, #fff) repeat 0 0 fixed; */  
}