@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello/css/fontello.css');

/* 초기화 */
*, *::before, *::after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

/* 숨김 콘텐츠 */
.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}

/* clearfix - float 이슈를 해결하기 위한 선언 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

html{
  font-size: 10px;
}

body{
  /* font-size: 1.4rem; */
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 500;
}

.header{
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px 25px 55px;
    font-size: 13px;
    background: rgba(#fff, #fff, #fff, 0);
}



.header h1{
    margin: 0;
    min-width: 20%;
}

.navigation{
    margin: 0;
    width: 80%;
    min-width: 80%;
}

.navigation-menu{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sub-menu a{
    padding: 5px 30px;
}

.navigation-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}
/* 드롭다운 */
.dropdown-menu3 a::before{
    content: '\e805';
    font-family: "fontello";
    padding:5px;
}

.dropdown-menu3 a::after, .dropdown-menu2 a::after, .dropdown-menu1 a::after{
    content: '\f107';
    font-family: "fontello";
    padding:5px;
}

.dropdown-menu1 , .dropdown-menu2 , .dropdown-menu3{
    transition: height 3s 0s;
    background: lime;
}
 
.dropdown-menu1:hover, .dropdown-menu1:focus, .dropdown-menu2:hover, .dropdown-menu2:focus{
    padding: 30px 0 2px 1em;
    height: 170px;
    background: yellow;
}

.dropdown-menu3:hover, .dropdown-menu3:focus{
    height: 170px;
    color: white;
    background: #181818;

}

.basket a::before{
    margin: 0;
    padding-left: 25px;
    content: '\f290';
    font-family: "fontello";
}

.basket a{
    width: 10px;
    height: 10px;
    margin-top: -8px;
    padding: 5px 20px 5px 0;    
}

/* .basket span{
    display: block;
    width: 10px;
    height: 10px;
    text-indent: 20px;
    overflow: hidden;
} */

.scroll{
    /* top bottom toggle */
    display: none;
}

.slides {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    list-style: none;
}

.slides * {
    user-select: none;
}

ul.slides input {
    display: none; 
}

.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    right: 0;
    z-index: 999;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0;
    transition: padding .2s;
    cursor: pointer;
}

.carousel-controls .prev-slide {
    text-align: left;
    padding: 0 20px;
    margin-left: 100px;
    left: 0;
}

.carousel-controls .prev-slide:hover {
    padding: 0 30px;
}

.carousel-controls .next-slide {
    text-align: right;
    padding : 0 20px;
    margin-right : 100px;
    right: 0;
}

.carousel-controls .next-slide:hover {
    padding: 0 30px;
}

.carousel-dot-group {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 999;
    text-align: center;
}

.carousel-dot-group .carousel-dot{
    display: none;
}

input:checked ~ .carousel-dot-group .carousel-dot {
    display: inline-block;
    width: 20px;
    height: 5px;
    background-color: #fff;
    opacity: 0.5;
    margin-right: 1px;
}

.slide-container > input:checked + .slide-image {
    opacity: 1; /*투명해제*/
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

.slide-container > input:checked + .carousel-controls label {
    display: block; 
}

#img-1:checked ~ .carousel-dot-group .img-dot-1,
#img-2:checked ~ .carousel-dot-group .img-dot-2,
#img-3:checked ~ .carousel-dot-group .img-dot-3,
#img-4:checked ~ .carousel-dot-group .img-dot-4,
#img-5:checked ~ .carousel-dot-group .img-dot-5,
#img-6:checked ~ .carousel-dot-group .img-dot-6,
#img-7:checked ~ .carousel-dot-group .img-dot-7{
    width: 30px;
	background-color: black;
}


.slide-container > input:checked ~ .carousel-controls label { 
    display: block; 
    
}
.visual-bottom{
    /* background: url(./images/bg_flower.png) no-repeat 50% 0 fixed,
    #ccc linear-gradient(#ccc, #eee, #fff) repeat 0 0 fixed; */  
}