
.icon-lock:before { content: '\e805'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */